@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

//FONTS
$font: 'Inter', sans-serif;
$bold: bold;

//COLORS
$primary: #B46426;
$primary-dark: #964607;
$primary-light: #EC8536;
$secondary: #93BCC8;
$secondary-dark: #5B909F;
$secondary-light: #B1E1EF;
$dark: #363E45;
$dark-dark: #1C2227;
$dark-light: #565D64;
$light: #FFFFFF;
$light-dark: #F6F6F6;
$light-light: rgba(255, 255, 255, 0.6);