@import "./colors_fonts.scss";

//STRUCTURE AND PATTERNS
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 0;
    outline: 0;
    font-family: $font;
}

body {
    overflow-x: hidden;
}

@mixin flex-containers($display, $justifyContent, $alignItems) {
    display: $display;
    justify-content: $justifyContent;
    align-items: $alignItems;
}

@mixin h2-pattern($fontSize, $margin, $fontWeight) {
    font-size: $fontSize;
    margin: $margin;
    font-weight: $fontWeight;
}

@mixin image-post($minWidth, $minHeight, $background) {
    min-width: $minWidth;
    min-height: $minHeight;
    background: $background;
    background-size: cover;
}

.rounded-shadow {
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
    -webkit-box-shadow: 0px 22px 40px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 22px 40px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 22px 40px rgba(0, 0, 0, 0.1);
}

.btn {
    background: $primary-light;
    color: $light;
    padding: 13px 45px;
    font-weight: $bold;
    font-size: 1.3em;
    cursor: pointer;
    -webkit-box-shadow: 0px 22px 40px rgba(0, 0, 0, 0.40);
    -moz-box-shadow: 0px 22px 40px rgba(0, 0, 0, 0.40);
    box-shadow: 0px 22px 40px rgba(0, 0, 0, 0.40);

    &:hover {
        background: $dark;
        transition: all 0.3s;
    }
}

.margin-section {
    margin-top: 120px;
}

.container {
    @include flex-containers(flex, space-around, center);
    gap: 80px;
    padding: 120px 180px 0 180px;
}

.title {
    margin-left: 180px;
    @include flex-containers(flex, none, center);
}

.title h2 {
    @include h2-pattern(2em, 0, 400);
}

.line {
    margin-left: 30px;
    min-width: 148px;
    border-top: 1px solid black;
}

.line-dashed {
    min-width: 148px;
    min-height: 1px;
    background: url(../images/line-dashed.svg) no-repeat;
}

/*.btn-outline {
    min-width: 160px;
    min-height: 48px;
    cursor: pointer;
    background: none;
    border: 3px solid $dark;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
    font-size: 1.1em;
    font-weight: $bold;
    //margin-left: 505px;

    &:hover {
        background: $dark;
        color: $light;
        transition: all 0.3s;
    }
}*/

.read-more {
    text-decoration: none;
    color: $primary-light;
    font-weight: $bold;
    font-size: 0.9em;

    &:hover {
        color: $dark;
        transition: all 0.3s;
    }
}
//HEADER
nav {
    padding: 25px 180px 0 180px;
    @include flex-containers(flex, space-between, center);
}

nav {
    .logo img {
        max-width: 310px;
    }

    .nav-links {
        @include flex-containers(flex, center, center);
    }

    .nav-links a {
        text-decoration: none;
        color: $light;
        @include h2-pattern(1.3em, 0 22px 0 0, $bold);

        &:hover {
            border-bottom: 3px solid $dark;
        }
    }

    .hamburger i {
        color: $light;
        font-size: 2.2em;
        cursor: pointer;
        display: none;
    }

    .menu-responsive {
        @include flex-containers(flex, none, flex-start);
        flex-direction: column;
        gap: 20px;
        -webkit-border-radius: 30px 0 0 30px;
        -moz-border-radius: 30px 0 0 30px;
        border-radius: 30px 0 0 30px;
        background: $light;
        padding: 50px 50px;
        position: absolute;
        top: 100px;
        right: 0;
        -webkit-transform: translateX(300px);
        -moz-transform: translateX(300px);
        transform: translateX(300px);
    }

    .menu-responsive a {
        text-decoration: none;
        color: black;
        @include h2-pattern(1.3em, 0 22px 0 0, $bold);
    }

    .contact-menu {
        display: flex;
        gap: 20px;
        font-size: 1.3em;
    }

    .contact-menu i {
        cursor: pointer;
    }
}

.bg-header {
    min-height: 580px;
    background: url(../images/bg-header.jpg) no-repeat 50% 60%;
    background-size: cover;
}

.opacity {
    background: rgba(0, 0, 0, 0.44);
    min-height: 580px;
}

.container-card-welcome {
    @include flex-containers(flex, center, none);
}

.card-welcome {
    position: absolute;
    margin-top: -100px;
    background: $light;
    padding: 49px 119px;
    @include flex-containers(flex, center, center);
    flex-direction: column;
}

.card-welcome {
    h1 {
        font-size: 2em;
        margin-bottom: 15px;
    }

    p {
        font-size: 1.1em;
        width: 450px;
        text-align: center;
    }
}

//HEADER RESPONSIVE
@media (max-width: 599.98px) {
    nav {
        padding: 25px 60px 0 60px;
        flex-direction: column;
        gap: 30px;
    }

    nav .menu-responsive {
        top: 180px;
    }

    .card-welcome {
        padding: 49px 0;
    }

    .card-welcome {
        h1 {
            font-size: 1.8em;
        }
    
        p {
            font-size: 0.9em;
            width: 350px;
        }
    }
}

@media (max-width: 481.98px) {
    .card-welcome {
        width: 320px;
    }

    .card-welcome {
        h1 {
            font-size: 1.5em;
            text-align: center;
        }
    
        p {
            font-size: 0.8em;
            width: 300px;
        }
    }

    nav .logo img {
        width: 250px;
    }
}

@media (max-width: 767.98px) {
    nav {
        padding: 25px 80px 0 80px;
    }

    .card-welcome {
        padding: 49px 60px;
    }
}

@media (max-width: 1199.98px) {
    nav .nav-links {
        display: none;
    }

    nav .hamburger i {
        display: block;
    }
}

@media (min-width: 1200px) {
    nav .menu-responsive {
        display: none;
    }

    nav .hamburger {
        display: none;
    }
}

//BEST POST
#best-post {
    .image-post {
        @include image-post(734px, 420px, url(../images/madagascar.jpg));
        background-position: 50%;
    }

    h2 {
        @include h2-pattern(1.8em, 15px 0 20px 0, 500);
    }

    .author-post {
        @include flex-containers(flex, none, center);
        gap: 20px;
        margin-top: 25px;
    }

    .author-post h4 {
        margin-bottom: 4px;
    }

    //BEST POST RESPONSIVE
    @media (max-width: 1050px) {
        .container {
            -webkit-flex-wrap: wrap;
            -moz-flex-wrap: wrap;
            flex-wrap: wrap;
        }
    }

    @media (max-width: 749px) {
        .image-post {
            min-width: 500px;
        }

        .container {
            padding: 120px 40px 0 40px;
        }
    }

    @media (max-width: 522px) {
        .image-post {
            min-width: 400px;
        }
    }

    @media (max-width: 410px) {
        .image-post {
            min-width: 320px
        }
    }
}

//POPULAR POSTS 
#popular-posts {
    .title h2 {
        @include h2-pattern(2em, 0, 400);
    }

    .container {
        gap: 60px;
        padding: 80px 180px 0 180px;
    }

    .container ~ .container {
        padding-top: 40px
    }

    .container ~ .container {
        .image-post {
            @include image-post(544px, 320px, url(../images/machu-picchu.jpg));
        }

        .popular-post:nth-child(2) .image-post {
            @include image-post(544px, 320px, url(../images/dive.jpg));
        }

        @media (max-width: 590px) {
            .image-post {
                min-width: 400px;
            }
    
            .popular-post:nth-child(2) .image-post {
                min-width: 400px;
                background-position: center;
            }
        }

        @media (max-width: 410px) {
            .image-post {
                min-width: 300px
            }
    
            .popular-post:nth-child(2) .image-post {
                min-width: 300px
            }
        }
    }

    .image-post {
        margin-bottom: 50px;
        @include image-post(544px, 320px, url(../images/bora-bora.jpg));
    }

    .popular-post:nth-child(2) .image-post {
        @include image-post(544px, 320px, url(../images/arraial-cabo.jpg));
    }

    h2 {
        @include h2-pattern(1.8em, 15px 80px 20px 0, 500);
    }

    p {
        margin-right: 80px;
    }

    //POPULAR POSTS RESPONSIVE
    @media (max-width: 1195px) {
        .container {
            -webkit-flex-wrap: wrap;
            -moz-flex-wrap: wrap;
            flex-wrap: wrap;
            padding: 120px 150px 0 150px;
        }

        .popular-post:nth-child(2) .image-post {
            background-position: center;
        }
    }

    @media (max-width: 755px) {
        .line, .line-dashed {
            display: none;
        }
    }

    @media (max-width: 590px) {
        .container {
            padding: 120px 40px 0 40px;
        }

        .image-post {
            min-width: 400px;
        }

        .popular-post:nth-child(2) .image-post {
            min-width: 400px;
            background-position: center;
        }

        .title {
            margin: 0 40px;
        }
    }

    @media (max-width: 698px) {
        .container {
            padding: 80px 40px 0 40px;
        }
    }

    @media (max-width: 410px) {
        .image-post {
            min-width: 300px
        }

        .popular-post:nth-child(2) .image-post {
            min-width: 300px
        }

        .container {
            padding: 80px 0 0 20px;
        }

        h2 {
            font-size: 1.6em;
        }
    }
}

//AVENTURES POSTS
#aventures {
    .container {
        gap: 35px;
        padding: 80px 180px 0 180px;
    }

    .container ~ .container {
        padding-top: 40px;
    }

    .container ~ .container {
        .image-post {
            @include image-post(359px, 320px, url(../images/skydiving.jpg));
        }
    
        .aventure-post:nth-child(2) .image-post {
            @include image-post(359px, 320px, url(../images/rapids.jpg));
        }
    
        .aventure-post:nth-child(3) .image-post {
            @include image-post(359px, 320px, url(../images/cave.jpg));
        }

        @media (max-width: 870px) {
            .image-post {
                min-width: 400px;
            }
    
            .aventure-post:nth-child(2) .image-post {
                min-width: 400px;
            }
    
            .aventure-post:nth-child(3) .image-post {
                min-width: 400px;
            }
        }
    
        @media (max-width: 590px) {
            .image-post {
                min-width: 400px;
            }
    
            .aventure-post:nth-child(2) .image-post {
                min-width: 400px;
            }
    
            .aventure-post:nth-child(3) .image-post {
                min-width: 400px;
            }
        }
    
        @media (max-width: 410px) {
            .image-post {
                min-width: 300px
            }
    
            .aventure-post:nth-child(2) .image-post {
                min-width: 300px
            }
    
            .aventure-post:nth-child(3) .image-post {
                min-width: 300px
            }
        }
    }

    .title {
        margin: 0 180px;
        @include flex-containers(flex, space-between, center);
    }

    .title-content {
        @include flex-containers(flex, none, center);
    }

    .lines {
        display: flex;
    }

    .image-post {
        margin-bottom: 50px;
        @include image-post(359px, 320px, url(../images/hawaii.jpg));
    }

    .aventure-post:nth-child(2) .image-post {
        @include image-post(359px, 320px, url(../images/snowboard.jpg));
    }

    .aventure-post:nth-child(3) .image-post {
        @include image-post(359px, 320px, url(../images/dive.jpg));
    }

    .aventure-post h2 {
        @include h2-pattern(1.7em, 15px 80px 20px 0, 500);
    }

    //AVENTURE POSTS RESPONSIVE
    @media (max-width: 1200px) {
        .line, .line-dashed {
            display: none;
        }
    }

    @media (max-width: 1195px) {
        .container {
            -webkit-flex-wrap: wrap;
            -moz-flex-wrap: wrap;
            flex-wrap: wrap;
        }

        .image-post {
            background-position: center;
        }
    
        .aventure-post:nth-child(2) .image-post {
            background-position: 100% 30%;
        }
    }

    @media (max-width: 870px) {
        .title {
            margin: 0 100px;
        }

        .image-post {
            min-width: 400px;
        }

        .aventure-post:nth-child(2) .image-post {
            min-width: 400px;
        }

        .aventure-post:nth-child(3) .image-post {
            min-width: 400px;
        }
    }

    @media (max-width: 590px) {
        .container {
            padding: 120px 40px 0 40px;
        }

        .image-post {
            min-width: 400px;
        }

        .aventure-post:nth-child(2) .image-post {
            min-width: 400px;
        }

        .aventure-post:nth-child(3) .image-post {
            min-width: 400px;
        }

        .title {
            margin: 0 40px;
        }
    }

    @media (max-width: 698px) {
        .container {
            padding: 80px 40px 0 40px;
        }
    }

    @media (max-width: 410px) {
        .image-post {
            min-width: 300px
        }

        .aventure-post:nth-child(2) .image-post {
            min-width: 300px
        }

        .aventure-post:nth-child(3) .image-post {
            min-width: 300px
        }

        .container {
            padding: 80px 10px 0 20px;
        }

        .title {
            margin: 0 20px;
        }

        .title-content h2 {
            font-size: 1.65em;
        }
    }
}

//HISTORICS POSTS
#historics {
    .container {
        gap: 35px;
        padding: 80px 180px 0 180px;
    }

    .container ~ .container {
        padding-top: 40px;
    }

    .container ~ .container {
        .image-post {
            @include image-post(359px, 320px, url(../images/colosseum.jpg));
        }
    
        .historic-post:nth-child(2) .image-post {
            @include image-post(359px, 320px, url(../images/mexico.jpg));
        }
    
        .historic-post:nth-child(3) .image-post {
            @include image-post(359px, 320px, url(../images/taj-mahal.jpg));
        }

        @media (max-width: 870px) {
            .image-post {
                min-width: 400px;
            }
    
            .historic-post:nth-child(2) .image-post {
                min-width: 400px;
            }
    
            .historic-post:nth-child(3) .image-post {
                min-width: 400px;
            }
        }
    
        @media (max-width: 590px) {
            .image-post {
                min-width: 400px;
            }
    
            .historic-post:nth-child(2) .image-post {
                min-width: 400px;
            }
    
            .historic-post:nth-child(3) .image-post {
                min-width: 400px;
            }
        }

        @media (max-width: 410px) {
            .image-post {
                min-width: 300px
            }
    
            .historic-post:nth-child(2) .image-post {
                min-width: 300px
            }
    
            .historic-post:nth-child(3) .image-post {
                min-width: 300px
            }
        }
    }

    .title {
        margin: 0 180px;
        @include flex-containers(flex, space-between, center);
    }

    .title-content {
        @include flex-containers(flex, none, center);
    }

    .lines {
        display: flex;
    }

    .image-post {
        margin-bottom: 50px;
        @include image-post(359px, 320px, url(../images/petra.jpg));
    }

    .historic-post:nth-child(2) .image-post {
        @include image-post(359px, 320px, url(../images/machu-picchu.jpg));
    }

    .historic-post:nth-child(3) .image-post {
        @include image-post(359px, 320px, url(../images/muralha-china.jpg));
    }

    .historic-post h2 {
        @include h2-pattern(1.7em, 15px 80px 20px 0, 500);
    }

    //HISTORICS POSTS RESPONSIVE
    @media (max-width: 1200px) {
        .line, .line-dashed {
            display: none;
        }
    }

    @media (max-width: 1195px) {
        .container {
            -webkit-flex-wrap: wrap;
            -moz-flex-wrap: wrap;
            flex-wrap: wrap;
        }

        .image-post {
            background-position: center;
        }
    
        .historic-post:nth-child(2) .image-post {
            background-position: 100% 30%;
        }
    }

    @media (max-width: 870px) {
        .title {
            margin: 0 100px;
        }

        .image-post {
            min-width: 400px;
        }

        .historic-post:nth-child(2) .image-post {
            min-width: 400px;
        }

        .historic-post:nth-child(3) .image-post {
            min-width: 400px;
        }
    }

    @media (max-width: 590px) {
        .container {
            padding: 120px 40px 0 40px;
        }

        .image-post {
            min-width: 400px;
        }

        .historic-post:nth-child(2) .image-post {
            min-width: 400px;
        }

        .historic-post:nth-child(3) .image-post {
            min-width: 400px;
        }

        .title {
            margin: 0 40px;
        }
    }

    @media (max-width: 698px) {
        .container {
            padding: 80px 40px 0 40px;
        }
    }

    @media (max-width: 410px) {
        .image-post {
            min-width: 300px
        }

        .historic-post:nth-child(2) .image-post {
            min-width: 300px
        }

        .historic-post:nth-child(3) .image-post {
            min-width: 300px
        }

        .container {
            padding: 80px 10px 0 20px;
        }

        .title {
            margin: 0 20px;
        }

        .title-content h2 {
            font-size: 1.65em;
        }
    }
}

//POST-ASIDE
#post-aside {
    padding-left: 180px;
}

#post-aside.margin-section {
    margin-top: 250px;
}

#post-aside {
    .container-aside {
        min-width: 1320px;
        min-height: 423px;
        background: $dark;
        -webkit-border-radius: 30px 0 0 30px;
        -moz-border-radius: 30px 0 0 30px;
        border-radius: 30px 0 0 30px;
        @include flex-containers(flex, space-around, center);
        color: $light;
        gap: 50px;
        padding-right: 120px
    }

    .img-rounded {
        @include image-post(484px, 484px, url(../images/travel2.jpg));
        -webkit-border-radius: 500px;
        -moz-border-radius: 500px;
        border-radius: 500px;
        border: 3px solid $primary-light;
        -webkit-box-shadow: 0px 22px 40px rgba(0, 0, 0, 0.2);
        -moz-box-shadow: 0px 22px 40px rgba(0, 0, 0, 0.2);
        box-shadow: 0px 22px 40px rgba(0, 0, 0, 0.2);
        margin-top: -200px;
    }

    .content {
        padding: 0 60px 0 100px;
    }

    .content {
        p {
            margin: 25px 0 30px 0;
            padding-right: 30px;
        }

        h2 {
            font-size: 2em;
            font-weight: 500;
        }

        .btn {
            min-width: 160px;
            min-height: 48px;
            font-size: 1.1em;
        }
    }

    @media (max-width: 1400px) {
        .container-aside {
            min-width: 1200px;
            gap: 20px;
            -webkit-border-radius: 30px;
            -moz-border-radius: 30px;
            border-radius: 30px;
        }
    }

    @media (max-width: 1170px) {
        .img-rounded {
            @include image-post(400px, 400px, url(../images/travel2.jpg));
        }

        .container-aside {
            min-width: 0;
        }
    }
    
    @media (max-width: 980px) {
        .container-aside {
            -webkit-flex-wrap: wrap;
            -moz-flex-wrap: wrap;
            flex-wrap: wrap;
            padding: 100px 40px;
        }

        .content {
            padding: 0 80px;
        }

        .img-rounded {
            margin-top: 50px;
        }
    }

    @media (max-width: 570px) {
        .container-aside {
            background: none;
            -webkit-box-shadow: none;
            -moz-box-shadow: none;
            box-shadow: none;
            color: black;
            padding: 0;
        }

        .content {
            padding: 0 40px;
        }

        .content {
            p {
                padding-right: 0;
            }
    
            h2 {
                font-size: 1.7em;
            }
        }
    }

    @media (max-width: 420px) {
        .img-rounded {
            @include image-post(310px, 310px, url(../images/travel2.jpg));
        }
    }
}

@media (max-width: 1400px) {
    #post-aside {
        padding: 0 80px;
    }
}

@media (max-width: 1200px) {
    #post-aside {
        padding: 0 40px;
    }
}

@media (max-width: 980px) {
    #post-aside {
        padding: 0;
    }

    #post-aside.margin-section {
        margin-top: 120px;
    }
}

//TESTIMONIALS
#testimonials {
    .title {
        margin-left: 0;
        @include flex-containers(flex, center, center);
    }

    .line2 {
        margin-right: 30px;
        min-width: 148px;
        border-top: 1px solid black;
    }
    
    .line-dashed2 {
        min-width: 148px;
        min-height: 1px;
        background: url(../images/line-dashed.svg);
    }

    .container {
        gap: 30px;
        padding: 80px 180px 0 180px;
    }

    .container ~ .container {
        padding: 30px 180px 0 180px;
    }

    .card {
        min-width: 545px;
        min-height: 450px;
        @include flex-containers(flex, center, center);
        flex-direction: column;
        text-align: center;
        padding: 0 85px;
    }

    .card-content {
        .img-person img {
            max-width: 100px;
        }

        h4 {
            margin-top: 15px;
            font-size: 1.2em;
        }

        p {
            margin-top: 5px;
            font-size: 1.1em;
        }

        p ~ p {
            margin-top: 30px;
        }
    }

    @media (max-width: 1220px) {
        .card {
            min-width: 450px;
            min-height: 450px;
            padding: 0 65px;
        }
    }

    @media (max-width: 996px) {
        .card {
            min-width: 400px;
            min-height: 400px;
            padding: 0 55px;
        }
    }

    @media (max-width: 879px) {
        .container {
            -webkit-flex-wrap: wrap;
            -moz-flex-wrap: wrap;
            flex-wrap: wrap;
        }

        .card {
            min-width: 450px;
            min-height: 450px;
            padding: 0 65px;
        }

        .line, .line-dashed, .line2, .line-dashed2 {
            display: none;
        }
    }

    @media (max-width: 520px) {
        .container {
            padding: 80px 100px 0 100px;
        }

        .container ~ .container {
            padding: 30px 100px 0 100px;
        }

        .card {
            min-width: 270px;
            min-height: 300px;
            padding: 20px 20px;
        }

        .card-content p {
            font-size: 0.8em;
        }
    }
}

//ABOUT US
#about {
    .title {
        margin-left: 0;
        @include flex-containers(flex, center, center);
        border: 1px solid rgba(255, 255, 255, 0);
    }

    .line2 {
        margin-right: 30px;
        min-width: 148px;
        border-top: 1px solid black;
    }
    
    .line-dashed2 {
        min-width: 148px;
        min-height: 1px;
        background: url(../images/line-dashed.svg) no-repeat;
    }

    .container {
        padding: 80px 180px 0 180px;
    }

    .image-about {
        @include image-post(700px, 520px, url(../images/travel.jpg));
    }

    p {
        font-size: 1.1em;
    }

    #authors1 {
        margin-top: 50px
    }

    .authors {
        @include flex-containers(flex, none, center);
        gap: 20px;
        margin-top: 20px;
    }

    .authors h4 {
        margin-bottom: 4px;
    }

    //ABOUT RESPONSIVE
    @media (max-width: 1050px) {
        .container {
            -webkit-flex-wrap: wrap;
            -moz-flex-wrap: wrap;
            flex-wrap: wrap;
            padding: 80px 100px 0 100px;
        }
    }

    @media (max-width: 880px) {
        .line, .line-dashed, .line2, .line-dashed2 {
            display: none;
        }
    }

    @media (max-width: 770px) {
        .image-about {
            min-width: 500px;
            min-height: 320px;
        }
        .container {
            padding: 80px 50px 0 50px;
        }
    }

    @media (max-width: 575.98px) {
        .image-about {
            min-width: 400px;
        }
    }

    @media (max-width: 410px) {
        .image-about {
            min-width: 300px;
        }
    }
}

//NEWSLETTER
@mixin newsletter-structure($minWidth, $minHeight, $background) {
    min-width: $minWidth;
    min-height: $minHeight;
    background: $background;    
}

#newsletter {
    .container {
        @include flex-containers(flex, space-around, center);
        padding: 0;
        @include newsletter-structure(995px, 380px, $light);
    }

    .bg-newsletter {
        margin: 0 180px;
        padding: 50px 60px;
        @include newsletter-structure(1137px, 450px, $primary-light);
    }

    .image-newsletter {
        -webkit-border-radius: 30px 0 0 30px;
        -moz-border-radius: 30px 0 0 30px;
        border-radius: 30px 0 0 30px;
        min-width: 449px;
        min-height: 380px;
        -webkit-filter: drop-shadow(22px 0px 40px rgba(0, 0, 0, 0.1));
        -moz-filter: drop-shadow(22px 0px 40px rgba(0, 0, 0, 0.1));
        filter: drop-shadow(22px 0px 40px rgba(0, 0, 0, 0.1));
        background: url(../images/bg-ilustracao.png);
        @include flex-containers(flex, none, center);
        padding-left: 45px;
    }

    .image-newsletter img {
        -webkit-filter: drop-shadow(0px 22px 40px rgba(0, 0, 0, 0.4));
        -moz-filter: drop-shadow(0px 22px 40px rgba(0, 0, 0, 0.4));
        filter: drop-shadow(0px 22px 40px rgba(0, 0, 0, 0.4));
    }

    .form-container h3 {
        font-size: 1.6em;
    }

    .form-container p {
        margin: 15px 0 20px 0;
        padding-right: 80px;
    }

    .form-container .form {
        @include flex-containers(flex, none, center);
    }

    .form-container input {
        min-height: 48px;
    }

    .form-container .form #email {
        min-width: 300px;
        background: $dark;
        color: $light;
        -webkit-border-radius: 20px 0 0 20px;
        -moz-border-radius: 20px 0 0 20px;
        border-radius: 20px 0 0 20px;
        padding-left: 30px;
    }

    .form-container .form #submit {
        min-width: 100px;
        background: $primary-light;
        color: $light;
        font-size: 1.2em;
        font-weight: $bold;
        cursor: pointer;
        -webkit-border-radius: 0 20px 20px 0;
        -moz-border-radius: 0 20px 20px 0;
        border-radius: 0 20px 20px 0;
    }

    //NEWSLETTER RESPONSIVE
    @media (max-width: 1400px) {
        .bg-newsletter {
            margin: 0 120px;
        }
    }

    @media (max-width: 1320px) {
        .bg-newsletter {
            margin: 0 80px;
        }
    }

    @media (max-width: 1280px) {
        .bg-newsletter {
            margin: 0 50px;
        }
    }

    @media (max-width: 1250px) {
        .image-newsletter {
            background: $dark;
            min-width: 330px;
            padding-left: 20px;
        }

        .bg-newsletter {
            min-width: 990px;
        }

        .container {
            min-width: 790px;
        }
    }

    @media (max-width: 1050px) {
        .image-newsletter {
            display: none;
        }

        .rounded-shadow {
            box-shadow: none;
        }

        .bg-newsletter {
            background: $dark;
            min-width: 0;
            -webkit-border-radius: 30px;
            -moz-border-radius: 30px;
            border-radius: 30px;
            -webkit-box-shadow: 0px 22px 40px rgba(0, 0, 0, 0.1);
            -moz-box-shadow: 0px 22px 40px rgba(0, 0, 0, 0.1);
            box-shadow: 0px 22px 40px rgba(0, 0, 0, 0.1);
        }

        .container {
            min-width: 0;
            color: $light;
            background: none;
        }

        .form-container .form #email {
            background: $light;
        }
    }

    @media (max-width: 700px) {
        .container {
            text-align: center;
            padding-left: 20px;
        }

        .form-container h3 {
            font-size: 1.5em;
        }
    }

    @media (max-width: 620px) {
        .bg-newsletter {
            background: none;
            min-width: 0;
            min-height: 100px;
            -webkit-border-radius: 0;
            -moz-border-radius: 0;
            border-radius: 0;
            -webkit-box-shadow: none;
            -moz-box-shadow: none;
            box-shadow: none;
        }

        .container {
            color: initial;
            min-height: 0;
        }

        .form-container .form #email {
            background: $dark;
        }
    }

    @media (max-width: 410px) {
        .form-container .form #email {
            min-width: 200px;
        }

        .form-container .form #submit {
            min-width: 80px;
        }
    }
}

//FOOTER
footer {
    background: $dark;
    color: $light;
}

footer {
    .container {
        padding: 120px 180px 50px 180px;
        align-items: stretch;
    }

    h3 {
        font-size: 1.6em;
        margin-bottom: 18px;
    }

    ul {
        list-style: none;
    }

    li {
        margin-top: 6px;
        font-size: 1.1em;
    }

    a {
        text-decoration: none;
        color: $light;
    }

    .divisor-footer {
        margin: 100px auto 0 auto;
        max-width: 1194px;
        min-height: 1px;
        background: url(../images/footer-divisor.png);
    }

    .container ~ .container {
        padding-top: 50px;
    }

    h4 {
        color: rgba(255, 255, 255, 0.49);
        font-size: 0.9em;
        font-weight: 400;
    }

    //FOOTER RESPONSIVE
    @media (max-width: 750px) {
        .container {
            -webkit-flex-wrap: wrap;
            -moz-flex-wrap: wrap;
            flex-wrap: wrap;
            padding: 120px 100px 50px 100px;
            justify-content: flex-start;
        }
    }

    @media (max-width: 410px) {
        .container {
            padding: 120px 50px 50px 50px;
        }
    }
}